body {
    background-color: aliceblue;
    /*background-color: #060032;*/
    margin: 0;
}

header {
    background-color: #03001D;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik Doodle Shadow";
    font-size: 275%;
    color: white;
}

header > p {
    margin-right: 5%;
}

main{
    font-family: "Lilita One";
}

footer{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    background-color: #03001D;
}

.profile_picture{
    height: 350px;
    border-radius: 100%;
}

#logo_accueil {
    background-color: #03001D;
}


#image_accueil {
    height: 85px;
    background-color: transparent;
    margin-left: 50%;
}

#image_accueil:hover{
    transition: transform 0.5s ease;
    transform: scale(1.15);
}

button{
    border:none;
    background-color: transparent;
}

.page_change img{
    height: 90px;
    background-color: transparent;
}

.page_change img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.15);
}

#bowlOfDice.rotation{
    animation: rotation 1s ease-in-out;
}

#salt.rotation{
    animation: rotation 1s ease-in-out;
}

#aventuriers.rotation{
    animation: rotation 1s ease-in-out;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(90deg); }
    20% { transform: rotate(180deg); }
    30% { transform: rotate(270deg); }
    40% { transform: rotate(360deg); }
    50% { transform: rotate(-270deg); }
    60% { transform: rotate(-180deg); }
    70% { transform: rotate(-90deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(90deg); }
    100% { transform: rotate(180deg); }
}

#linkedin {
    color: #DBC452;
    text-decoration: none;
    background-color: #03001D;
    margin-right: 35px;
}

#linkedin:hover {
    text-decoration: underline;
}





