body {
    background-color: #000005;
    color: #d5ad49;
    margin: 0;
}

div {
    padding: 1%;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik Doodle Shadow";
    font-size: 275%;
}

header > p {
    margin-right: 5%;
}

main{
    font-family: "Lilita One";
    padding-left: 5%;
    padding-right: 5%;

}

footer{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

.top_part{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile_picture{
    height: 350px;
    border-radius: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1%;
}

h4 {
    font-size: 8vh;
    font-weight: bold;
    margin: 2% 0 2% 0;
}

h5 {
    font-size: 6vh;
    margin: 1% 0 1% 0;
}

h6 {
    color: #ffef87;
    font-size: 4vh;
    margin: 1% 0 1% 2%;
    opacity: 50%;

}

.description {
    font-size: 2.5vh;
    font-weight: normal;
}


#image_accueil {
    height: 85px;
    background-color: transparent;
    margin-left: 50%;
}

#image_accueil:hover{
    transition: transform 0.5s ease;
    transform: scale(1.15);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_change{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    border:none;
    background-color: transparent;
}

.page_change img{
    height: 200px;
    background-color: transparent;
    opacity: 0.8;
}

.page_change img:hover{
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 1;
}

#bowlOfDice.rotation{
    animation: rotation 1s ease-in-out;
}

#salt.rotation{
    animation: rotation 1s ease-in-out;
}

#aventuriers.rotation{
    animation: rotation 1s ease-in-out;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(90deg); }
    20% { transform: rotate(180deg); }
    30% { transform: rotate(270deg); }
    40% { transform: rotate(360deg); }
    50% { transform: rotate(-270deg); }
    60% { transform: rotate(-180deg); }
    70% { transform: rotate(-90deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(90deg); }
    100% { transform: rotate(180deg); }
}


.list_skill{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list_skill img {
    height: 150px;
}

#linkedin {
    color: #d5ad49;
    text-decoration: none;
    margin-right: 35px;
}

#linkedin:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {

    .list_skill {
        flex-direction: column;
    }

    .list_skill img {
        margin: 1% 0 1% 0;
    }

}

@media (max-width: 780px) {

    .top_part {
        flex-direction: column;
    }

    .page_change {
        flex-direction: column;
    }

}


